---
import Layout from "../layouts/Layout.astro";
import EverySituation from "../sections/EverySituation.astro";
import Intro from "../sections/Intro.astro";
import Reasons from "../sections/Reasons.astro";
import Versions from "../sections/Versions.astro";
---

<Layout title='Fyzio boty'>
	<main class='relative'>
		<Intro />
		<Reasons />
		<EverySituation />
		<Versions />
	</main>
</Layout>
