---
import Layout from "../layouts/Layout.astro";
import Intro from "../sections/Intro.astro";
import Reasons from "../sections/Reasons.astro";
---

<Layout title='Fyzio boty'>
	<main>
		<Intro />
		<Reasons />
	</main>
</Layout>
