<section class='py-20 text-center'>
	<h2 class='text-3xl font-extralight mb-3'>Vyraž nakupovat</h2>
	<h3 class='text-3xl font-thin mb-16'>Objev Ahinsha shoes</h3>
	<div class='flex gap-10 justify-center'>
		<a
			class='transition-all bg-cyan-600 py-4 px-8 block hover:bg-cyan-700 hover:text-white'
			href='https://tracking.affiliateclub.cz/aff_c?offer_id=1163&aff_id=6983&url=https%3A%2F%2Fahinsashoes.cz%2Fcollections%2Fdamy%3Futm_campaign%3D{affiliate_id}%26utm_medium%3Daffiliate%26utm_source%3Daffiliateport.eu%26transaction_id%3D{transaction_id}'
			>Dámské boty</a
		>
		<a
			class='transition-all bg-cyan-600 py-4 px-8 block hover:bg-cyan-700 hover:text-white'
			href='https://tracking.affiliateclub.cz/aff_c?offer_id=1163&aff_id=6983&url=https%3A%2F%2Fahinsashoes.cz%2Fcollections%2Fpanove%3Futm_campaign%3D{affiliate_id}%26utm_medium%3Daffiliate%26utm_source%3Daffiliateport.eu%26transaction_id%3D{transaction_id}'
			>Pánské boty</a
		>
	</div>
</section>
