<section class='py-20 px-5 text-center'>
	<h2 class='text-3xl text-center font-extralight mb-16'>Why?</h2>
	<p class='max-w-2xl mb-6 mx-auto'>
		Barefoot shoes are innovative footwear that allows your feet to feel the
		ground as if you were walking barefoot. Thanks to the thin sole and wide
		toe, barefoot shoes provide a natural feel and promote healthy foot
		movements.
	</p>
	<p class='max-w-2xl mb-6 mx-auto'>
		In addition, barefoot shoes can help improve your balance, strengthen
		muscles legs and reduce knee and back pain. They are a great choice for
		daily activities such as walking, running, yoga, swimming and climbing.
	</p>
	<p class='max-w-2xl mb-6 mx-auto'>
		Whether you are looking for shoes for sports or for everyday wear,
		barefoot shoes are there the best choice. Start slowly with short walks
		and gradually increase the time and intensity of wear.
	</p>
	<p class='max-w-2xl mb-16 mx-auto'>
		Indulge yourself and give your feet freedom with bare shoes!
	</p>
	<a
		class='transition-all bg-cyan-600 py-4 px-8 hover:bg-cyan-700 hover:text-white inline-block'
		href='https://tracking.affiliateclub.cz/aff_c?offer_id=1163&aff_id=6983'
		>Discover Ahinsha shoes</a
	>
</section>
