<video
	class='h-screen w-full absolute object-cover top-0 left-0'
	autoplay
	muted
	loop
>
	<source src='public/intro-bg.webm' type='video/webm' />
</video>
<section
	class='relative flex justify-center items-center h-screen w-full flex-col gap-y-6 bg-slate-600 bg-opacity-70 text-white font-thin'
>
	<h1 class='text-7xl mb-5'>Fyzio boty Ahinsha shoes</h1>
	<h2 class='text-5xl'>Boty navržené fyzioterapeuty</h2>
</section>
