<section class='flex justify-center items-center min-h-screen flex-col gap-y-6'>
	<h1 class='text-5xl font-thin space-y'>Ahinsha shoes</h1>
	<h2 class='text-3xl font-thin'>Boty navržené fyzioterapeuty</h2>
</section>
