<section class='bg-slate-300 py-20'>
	<div class='container grid grid-cols-1 lg:grid-cols-3 gap-20 lg:gap-6'>
		<div class='text-center'>
			<svg
				class='mx-auto mb-6'
				height='60'
				viewBox='0 0 140.09 131.909'
				xml:space='preserve'
				xmlns='http://www.w3.org/2000/svg'
				><path
					style='opacity:1;fill:none;stroke:#0891b2;stroke-width:5.29167;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1'
					d='M49.373 65.691c1.057 33.03 3.721 66.432-9.205 96.236-5.516 17.86-4.885 32.152 23.85 30.126 12.613-2.927 34.883-2.792 46.022-.957 16.417.269 35.706-.685 42.248-.78 26.188 5.385 21.243-13.92 14.66-14.582-3.61-.855-7.506-2.017-17.155-.836-25.664-3.426-57.289-36.566-58.456-60.073l-.182-49.195'
					transform='translate(-34.755 -62.984)'></path><path
					style='opacity:1;fill:none;stroke:#0891b2;stroke-width:5.29167;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1'
					d='M62.31 145.452c-5.414 12.409-3.199 19.73 8.62 20.65'
					transform='translate(-34.755 -62.984)'></path></svg
			>
			<h3 class='text-2xl font-light mb-3'>Pro zdravou chůzi</h3>
			<p class='text-m font-light'>
				Ověřeno testy na Masarykově univerzitě
			</p>
		</div>
		<div class='text-center'>
			<svg
				class='mx-auto mb-6'
				height='60'
				viewBox='0 0 97.672 106.582'
				xml:space='preserve'
				xmlns='http://www.w3.org/2000/svg'
				><g style='stroke:#0891b2;'
					><g style='stroke-width:4.23333;stroke-dasharray:none;'
						><path
							style='fill:none;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;'
							d='m76.05 197.282-.448-9.17-19.907-25.276.089-38.14c-.223-10.808 11.715-10.688 11.095 0v17.785'
							transform='translate(-53.579 -93.04)'></path><path
							style='fill:none;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;'
							d='m75.384 169.858-10.011-10.983c-5.538-7.285 2.543-12.504 7.699-7.787 5.286 5.581 7.466 9.584 18.188 17.34 4.806 3.28 5.531 6.561 6.263 9.842v19.236'
							transform='translate(-53.579 -93.04)'></path></g
					><g style='stroke-width:4.23333;stroke-dasharray:none;'
						><path
							style='fill:none;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;'
							d='m76.05 197.282-.448-9.17-19.907-25.276.089-38.14c-.223-10.808 11.715-10.688 11.095 0v17.785'
							transform='matrix(-1 0 0 1 151.25 -93.04)'
						></path><path
							style='fill:none;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;'
							d='m75.384 169.858-10.011-10.983c-5.538-7.285 2.543-12.504 7.699-7.787 5.286 5.581 7.466 9.584 18.188 17.34 4.806 3.28 5.531 6.561 6.263 9.842v19.236'
							transform='matrix(-1 0 0 1 151.25 -93.04)'
						></path></g
					><g style='stroke-width:4.23333;stroke-dasharray:none;'
						><path
							style='fill:none;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;'
							d='M101.101 161.27c-3.06-24.345 1.794-35.908 6.263-48.09'
							transform='translate(-53.578 -92.05)'></path><path
							style='fill:none;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;'
							d='M92.378 143.152c-15.46-23.423 3.434-35.998 21.026-48.985 1.093 2.499 25.088 42.91-12.974 53.683'
							transform='translate(-53.578 -92.05)'></path></g
					></g
				></svg
			>
			<h3 class='text-2xl font-light mb-3'>100% veganské a etické</h3>
			<p class='text-m font-light'>Vyráběné ručně v Česku a Chorvatsku</p>
		</div>
		<div class='text-center'>
			<svg
				class='mx-auto mb-6'
				height='60'
				viewBox='0 0 142.184 114.555'
				xml:space='preserve'
				xmlns='http://www.w3.org/2000/svg'
				><path
					style='fill:none;stroke:#0891b2;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none'
					d='m78.597 169.25 2.55-46.602h41.038l2.55 46.602zM92.74 121.953c-2.077-17.512 19.609-19.155 18.548 0'
					transform='translate(-30.574 -84.13)'></path><path
					style='fill:none;stroke:#0891b2;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none'
					d='M150.702 164.381c-23.81 50.967-107.108 41.49-103.173-28.98'
					transform='translate(-30.574 -84.13)'></path><path
					style='fill:none;stroke:#0891b2;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none'
					d='m32.69 150.007 14.84-16.462 14.838 16.694M140.733 132.386l15.302 15.998 14.606-15.998'
					transform='translate(-30.574 -84.13)'></path><path
					style='fill:none;stroke:#0891b2;stroke-width:4.23333;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none'
					d='M51.47 119.17c32.28-58.181 108.305-33.22 104.565 27.59'
					transform='translate(-30.574 -84.13)'></path></svg
			>
			<h3 class='text-2xl font-light'>Doprava a výměna zdarma</h3>
		</div>
	</div>
</section>
