<section class='bg-slate-300 py-16'>
	<div class='container grid grid-cols-3 gap-6'>
		<div class='text-center'>
			<h3 class='text-2xl font-light mb-3'>Pro zdravou chůzi</h3>
			<p class='text-m font-light'>
				Ověřeno testy na Masarykově univerzitě
			</p>
		</div>
		<div class='text-center'>
			<h3 class='text-2xl font-light mb-3'>100% veganské a etické</h3>
			<p class='text-m font-light'>Vyráběné ručně v Česku a Chorvatsku</p>
		</div>
		<div class='text-center'>
			<h3 class='text-2xl font-light'>Doprava a výměna zdarma</h3>
		</div>
	</div>
</section>
