<section class='bg-slate-100 py-20'>
	<h2 class='text-3xl text-center font-extralight mb-16'>
		Ve dvou provedeních - Barefoot a Comfort
	</h2>
	<div class='grid grid-cols-2 max-w-3xl mx-auto'>
		<div class='pr-10'>
			<a href=''
				><h3
					class='inline-block text-xl mb-3 underline underline-offset-8 decoration-1 hover:no-underline transition-all ease-linear'
				>
					Barefoot
				</h3></a
			>
			<ul class='list-disc list-inside border-r border-slate-600'>
				<li>Tenoučká podrážka (od 2 mm)</li>
				<li>Tenká stélka (vložka)</li>
				<li>Nulový drop (bez podpatku)</li>
				<li>Stejné jako chůze bosky</li>
			</ul>
		</div>
		<div class='pl-10'>
			<a href=''
				><h3
					class='inline-block text-xl mb-3 underline underline-offset-8 decoration-1 hover:no-underline transition-all ease-linear'
				>
					Comfort
				</h3></a
			>
			<ul class='list-disc list-inside'>
				<li>Pěnová vložka nebo silnější podrážka</li>
				<li>Ochrana před tvrdými došlapy</li>
				<li>Téměř nulový drop (nenaklání nohu jako podpatek)</li>
				<li>Pohodlná chůze, při které necítíte každý kamínek</li>
			</ul>
		</div>
	</div>
</section>
