<section class='bg-slate-100 py-20 px-5'>
	<h2 class='text-3xl text-center font-extralight mb-16'>
		Ve dvou provedeních - Barefoot a Comfort
	</h2>
	<div
		class='grid grid-cols-1 lg:grid-cols-2 justify-center items-center mx-auto gap-14 lg:gap-0 max-w-4xl'
	>
		<div class='text-center'>
			<h3
				class='inline-block text-xl mb-3 underline underline-offset-8 decoration-1 hover:no-underline transition-all ease-linear'
			>
				Barefoot
			</h3>
			<ul class='list-inside lg:border-r lg:border-slate-600'>
				<li>Tenoučká podrážka (od 2 mm)</li>
				<li>Tenká stélka (vložka)</li>
				<li>Nulový drop (bez podpatku)</li>
				<li>Stejné jako chůze bosky</li>
			</ul>
		</div>
		<div class='text-center'>
			<h3
				class='inline-block text-xl mb-3 underline underline-offset-8 decoration-1 hover:no-underline transition-all ease-linear'
			>
				Comfort
			</h3>
			<ul class='list-inside'>
				<li>Pěnová vložka nebo silnější podrážka</li>
				<li>Ochrana před tvrdými došlapy</li>
				<li>Téměř nulový drop (nenaklání nohu jako podpatek)</li>
				<li>Pohodlná chůze, při které necítíte každý kamínek</li>
			</ul>
		</div>
	</div>
</section>
