<section class='bg-slate-100 py-20 px-5'>
	<h2 class='text-3xl text-center font-extralight mb-16'>
		In two variants - Barefoot a Comfort
	</h2>
	<div
		class='grid grid-cols-1 lg:grid-cols-2 justify-center items-center mx-auto gap-14 lg:gap-0 max-w-4xl'
	>
		<div class='text-center'>
			<h3
				class='inline-block text-xl mb-3 underline underline-offset-8 decoration-1 hover:no-underline transition-all ease-linear'
			>
				Barefoot
			</h3>
			<ul class='list-inside lg:border-r lg:border-slate-600'>
				<li>Thin outsole (from 2 mm)</li>
				<li>Thin liner (insole)</li>
				<li>Zero-drop (no heel)</li>
				<li>The same as walking barefoot</li>
			</ul>
		</div>
		<div class='text-center'>
			<h3
				class='inline-block text-xl mb-3 underline underline-offset-8 decoration-1 hover:no-underline transition-all ease-linear'
			>
				Comfort
			</h3>
			<ul class='list-inside'>
				<li>Foam insole or thicker outsole</li>
				<li>Protection against harsh impacts</li>
				<li>Nearly zero-drop (does not tilt the foot like a heel)</li>
				<li>
					Comfortable stride without feeling every stone under foot
				</li>
			</ul>
		</div>
	</div>
</section>
